.app {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--primary-gradient-color) 0%,
    var(--secondary-gradient-color) 100%
  );
  display: flex;
  justify-content: center;
}
