* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #8f8f8f;
  --secondary-color: #fdfdfd;
  --accents-color: #8083ff;
  --font-color: #474554;

  --primary-gradient-color: #dcdfe4;
  --secondary-gradient-color: #f2f2f2;
  --primary-shadow: 0 0.5rem 1rem #39393921;
  --secondary-shadow: 0 0.7rem 1.5rem #1F1F1F45;

  --primary-font: "Open Sans", sans-serif;
  --second-font: "Francois One", sans-serif;
  --primary-font-size: 16px;
  --primary-font-weight: 800;
  --border-radius: 26px;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: var(--primary-font);
  color: var(--font-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-family: var(--second-font);
}

button {
  font-family: var(--primary-font);
}
